<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2013 Nils Assbeck, Guersel Ayaz and Michael Zoech

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.remoteyourcam.usb"
  android:versionCode="10"
  android:versionName="0.3.0">

  <uses-sdk
    android:minSdkVersion="12"
    android:targetSdkVersion="12"/>

  <uses-feature android:name="android.hardware.usb.host"/>

  <supports-screens
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="false"
    android:xlargeScreens="true"/>

  <!-- For Feedback -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- For Acra -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name="com.remoteyourcam.usb.RycApplication"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:theme="@style/Theme.RYC">
    <activity
      android:name="com.remoteyourcam.usb.MainActivity"
      android:configChanges="orientation"
      android:label="@string/launcher_label"
      android:launchMode="singleTask"
      android:screenOrientation="sensorLandscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
      </intent-filter>

      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/device_filter"/>
    </activity>
    <activity
      android:name="com.remoteyourcam.usb.activities.AppSettingsActivity"
      android:label="@string/activity_app_settings_title"
      android:screenOrientation="sensorLandscape"/>
    <activity
      android:name="org.acra.CrashReportDialog"
      android:excludeFromRecents="true"
      android:finishOnTaskLaunch="true"
      android:launchMode="singleInstance"
      android:theme="@android:style/Theme.Dialog"/>
  </application>

</manifest>
